/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Bitter", sans-serif;
  color: #f5f4ed;
  background-color: #795d6b;
}

a {
  color: #e86256;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

xcody-info 

-------------------------------- */
#cody-info {
  position: relative;
  background: #FFF;
  height: 44px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#cody-info .cody-info-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -13px;
}
#cody-info .cody-info-logo svg {
  display: block;
  -webkit-transition: opacity, 0.2s;
  -moz-transition: opacity, 0.2s;
  transition: opacity, 0.2s;
}
#cody-info .cody-info-logo svg:hover {
  opacity: .9;
}
#cody-info .cody-info-logo .cody-info-logo-svg {
  fill: #383838;
}
#cody-info li {
  position: absolute;
  top: 0;
}
#cody-info li:first-child {
  left: 0;
}
#cody-info li:last-child {
  right: 0;
}
#cody-info li a {
  display: block;
  width: 44px;
  height: 44px;
  position: relative;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
#cody-info li a:hover {
  background-color: #e86256;
}
#cody-info li a:hover .cody-info-buttons-svg {
  fill: #FFF;
}
#cody-info li svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
#cody-info li .cody-info-buttons-svg {
  fill: #7a5d6b;
}
#cody-info.cody-info-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}
#cody-info::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (min-width: 600px) {
  #cody-info {
    height: 60px;
  }
  #cody-info li a {
    height: 60px;
    width: 60px;
  }
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  background: #5c4751;
  height: 100px;
  text-align: center;
}
header h1 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 1.6em;
  margin-bottom: .2em;
}
header p {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #957484;
}
@media only screen and (min-width: 1024px) {
  header {
    height: 200px;
  }
  header h1 {
    font-size: 30px;
    font-size: 1.875rem;
    padding-top: 2.6em;
  }
}

main p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
  margin: 2em 0;
}
@media only screen and (min-width: 1024px) {
  main p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
  #backToTop:hover {
    background-color: #555;
  }